@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: rgba(49, 49, 49, 0.4);
}

a {
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

button {
  appearance: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.text-white {
  color: #ffffff;
}

.text-fade-white {
  color: rgba(255, 255, 255, 0.5);
}

.main-title {
  color: var(--Text, #1d1c31);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.9;
  margin: 24px;
}
@media screen and (min-width: 768px) {
  .main-title {
    text-align: left;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 700;
    line-height: 3.25;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 40px;
    font-weight: 700;
  }
}

.banner-title {
  font-size: 2.25rem;
  font-weight: 800;
}

.card-title {
  color: var(--Text, #1d1c31);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.card {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 24px 16px;
  max-width: 304px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 24px 64px -12px rgba(26, 24, 65, 0.06);
  border: 1px solid rgba(29, 28, 49, 0.1);
}
@media screen and (min-width: 768px) {
  .card {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    max-width: 448px;
    margin-left: 32px;
  }
}

.btn {
  font-weight: 600;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
}
.btn.small {
  padding: 12px 24px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .btn.small {
    margin-right: 20px;
  }
}
.btn.medium {
  font-size: 18px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .btn.medium {
    max-width: 221px;
  }
}
.btn.large {
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  margin-bottom: 20px;
}
.btn-transparent {
  color: #17c2ec;
  font-size: 14px;
  font-weight: 700;
  border: 2px solid #17c2ec;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  opacity: 0.5;
}

.btn-help {
  border-radius: 20px;
}

.wrapper-first {
  background-image: url("../assets/image/background1.png");
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    margin: 0 3.125rem;
  }
}
.header__nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    gap: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.header__nav--item:hover {
  color: #ffffff;
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .header__hamburger {
    display: none;
  }
}

.btn-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .btn-nav {
    display: inline;
    border-radius: 20px;
    border: none;
  }
}

li .circle {
  display: none;
  margin-left: 50%;
}

li:hover img {
  display: block;
}

.banner {
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .banner {
    display: flex;
    justify-content: space-around;
  }
}
.banner__left {
  padding: 20px 35px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .banner__left {
    max-width: 50%;
  }
}
.banner__shortinfo {
  color: #17c2ec;
  font-size: 0.75rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .banner__shortinfo {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 1200px) {
  .banner__shortinfo {
    font-size: 1.5rem;
  }
}
.banner__title1, .banner__title2 {
  font-size: 1.5rem;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .banner__title1, .banner__title2 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .banner__title1, .banner__title2 {
    font-size: 3rem;
  }
}
.banner__title1 {
  color: #ffffff;
}
.banner__title2 {
  color: #17c2ec;
}
.banner__info {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .banner__info {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .banner__info {
    margin-top: 20px;
    font-size: 1.5rem;
  }
}
.banner__button {
  margin-top: 30px;
}
.banner__right {
  margin: 0 auto;
  padding: 1.875rem;
}
.banner__image {
  width: 100%;
}

.btn-banner {
  background-color: #17c2ec;
}

.schedule {
  padding: 0 40px;
}
.schedule__titleSection {
  display: flex;
  gap: 0 10px;
  align-items: center;
}
.schedule__title {
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .schedule__title {
    font-size: 1.5rem;
  }
}
.schedule__list {
  padding: 20px 10px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.1);
}
@media screen and (min-width: 768px) {
  .schedule__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px 20px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .schedule__list {
    padding-bottom: 20px;
  }
}
.schedule__list--title, .schedule__list--info {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  .schedule__list--title, .schedule__list--info {
    font-size: 1.25rem;
  }
}
.schedule__list--title {
  font-weight: 600;
}
.schedule__list--info {
  font-weight: 700;
}
.schedule__list--item {
  display: flex;
  gap: 0 40px;
  align-items: center;
  padding-bottom: 14px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .schedule__list--item {
    gap: 0 20px;
  }
}

.icon-schedule {
  font-size: 1.56rem;
  background-color: rgba(196, 196, 196, 0.1019607843);
  padding: 5px;
  border-radius: 10px;
  color: #17c2ec;
}
@media screen and (min-width: 768px) {
  .icon-schedule {
    font-size: 2.18rem;
  }
}

.btn-submit {
  margin-left: 3%;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .btn-submit {
    width: 250px;
    height: 70px;
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.vaccine__img {
  width: 100%;
}

.wrapper-second {
  background-image: url("../assets/image/background2.png");
  color: #ffffff;
  padding: 7%;
}

.covidCheck {
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.1);
}
.covidCheck__titleSection {
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  background: rgba(196, 196, 196, 0.05);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .covidCheck__title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .covidCheck__title {
    font-size: 1.5rem;
  }
}
.covidCheck__inputSection {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .covidCheck__inputSection {
    padding-left: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .covidCheck__inputSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
  }
}
.covidCheck__input {
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid rgba(196, 196, 196, 0.15);
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .covidCheck__input {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .covidCheck__input {
    width: 40%;
    margin-bottom: 0px;
    height: 50px;
  }
}
.covidCheck__input:hover {
  border: 3px solid #17c2ec;
}
.covidCheck__text {
  color: #17c2ec;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.05);
  padding: 15px 80px;
}
@media screen and (min-width: 768px) {
  .covidCheck__text {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 1200px) {
  .covidCheck__text {
    font-size: 1.5rem;
    padding: 25px 100px;
  }
}

.covidCheck__inputSection ::placeholder {
  padding: 0px 10px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.link {
  color: #17c2ec;
  text-decoration: underline;
}

.wrapper-third {
  background-image: url("../assets/image/background1.png");
}

@media screen and (min-width: 768px) {
  .card__list {
    display: flex;
  }
}

.aboutVaccinated {
  padding-bottom: 20px;
}
.aboutVaccinated__titleSection {
  padding: 30px 30px;
}
@media screen and (min-width: 1200px) {
  .aboutVaccinated__titleSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.aboutVaccinated__title {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutVaccinated__title {
    max-width: 50%;
    font-size: 2.98rem;
  }
}
.aboutVaccinated__info {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__info {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutVaccinated__info {
    max-width: 40%;
    font-size: 1.25rem;
  }
}
.aboutVaccinated__card {
  border-radius: 20px;
  border: 2.994px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  max-width: 50%;
  margin-left: 35px;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__card {
    max-width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .aboutVaccinated__card {
    margin: 0px;
    margin-left: 20px;
    width: 25%;
  }
}
.aboutVaccinated__card--title {
  color: #ffffff;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__card--title {
    font-size: 24px;
  }
}
.aboutVaccinated__card--info {
  display: none;
  color: #ffffff;
}
.aboutVaccinated__card:hover {
  border-radius: 20px 80px 20px 20px;
  background: rgba(196, 196, 196, 0.2);
  max-width: 65%;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__card:hover {
    max-width: 50%;
    padding: 30px 10px;
  }
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__card:hover {
    max-width: 50%;
    padding: 40px 20px;
  }
}
.aboutVaccinated__card:hover .aboutVaccinated__card--title {
  color: #17c2ec;
}
.aboutVaccinated__card:hover .aboutVaccinated__card--info {
  display: block;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .aboutVaccinated__card:hover .aboutVaccinated__card--info {
    font-size: 18px;
  }
}
.aboutVaccinated__card:hover .card-icon {
  color: #17c2ec;
}

@media screen and (min-width: 768px) {
  .read-more {
    font-size: 18px;
  }
}

.card-icon {
  color: #ffffff;
  font-size: 40px;
}

.read-more-icon {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

.aboutVaccinated__card:hover .read-more {
  color: #17c2ec;
}

@media screen and (min-width: 768px) {
  .card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .first-card {
    margin-right: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .first-card {
    margin-right: 5px;
  }
}

.registration {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .registration {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .registration__content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.registration__left {
  margin-bottom: 35px;
}
.registration__img {
  max-width: 90%;
}
.registration__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin: 35px 0;
}
@media screen and (min-width: 1200px) {
  .registration__title {
    font-size: 3rem;
  }
}
.registration__right {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .registration__right {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .registration__right {
    max-width: 50%;
  }
}
.registration__fullname, .registration__number {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 35px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .registration__fullname--part, .registration__number--part {
    display: flex;
    align-items: center;
  }
}
.registration__fullname--title {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .registration__fullname--title {
    font-size: 1.5rem;
  }
}
.registration__input {
  border-radius: 10px;
  background: rgba(11, 21, 60, 0.15);
  height: 50px;
  flex-shrink: 0;
  border: none;
  padding: 0 20px;
}
.registration__notes {
  margin-bottom: 20px;
}

.phone-number {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: rgba(11, 21, 60, 0.15);
  padding: 5px 10px;
}
@media screen and (min-width: 768px) {
  .phone-number {
    width: 80%;
  }
}

.number {
  border: none;
  border-radius: 0px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  background: none;
}
.name {
  padding: 5px 20px;
}

.btn-verify {
  max-width: min-content;
  margin-left: -5px;
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .btn-verify {
    margin-left: 20px;
    font-size: 1.25rem;
    margin-top: 35px;
    height: 60px;
  }
}

.checkStatus {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .checkStatus {
    text-align: center;
  }
}
.checkStatus__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .checkStatus__text {
    font-size: 1.25rem;
  }
}
.checkStatus__link {
  margin-left: 20px;
  color: #17c2ec;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .checkStatus__link {
    font-size: 1.25rem;
  }
}

.symptoms-wrapper {
  padding: 25px 0px 0px 0px;
  background-image: url("../assets/image/symptoms.png");
  background-position: bottom;
  background-size: 300px;
  background-repeat: no-repeat;
  background-color: #0b153c;
}
@media screen and (min-width: 1200px) {
  .symptoms-wrapper {
    background-size: 400px;
  }
}

.symptoms {
  text-align: center;
  padding-top: 25px;
  position: relative;
  color: #ffffff;
}
.symptoms__img {
  position: absolute;
  max-width: 325px;
  left: 105px;
  top: 119px;
}
.symptoms__titleSection {
  padding: 0 40px;
}
.symptoms__title {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .symptoms__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__title {
    font-size: 24px;
  }
}
.symptoms__main-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .symptoms__main-title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__main-title {
    font-size: 48px;
  }
}
.symptoms__info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 500;
  padding: 0 40px;
}
@media screen and (min-width: 768px) {
  .symptoms__info {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__info {
    font-size: 24px;
    padding: 0 40px;
  }
}
.symptoms__list {
  display: flex;
  justify-content: space-around;
}
.symptoms__item {
  display: flex;
  padding: 5px;
}
.symptoms__list--item {
  color: #17c2ec;
  font-size: 10px;
  font-weight: 600;
  border-radius: 4.863px;
  background: rgba(196, 196, 196, 0.2);
  padding: 10px 10px 10px 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .symptoms__list--item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__list--item {
    font-size: 20px;
  }
}
.symptoms__one, .symptoms__four {
  margin-top: 30px;
}
.symptoms__one {
  margin-left: 20%;
}
@media screen and (min-width: 768px) {
  .symptoms__one {
    width: 100%;
    margin-left: 55%;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__one {
    margin-left: 85%;
  }
}
.symptoms__four {
  margin-left: 10%;
}
@media screen and (min-width: 1200px) {
  .symptoms__four {
    margin-left: -15%;
  }
}
.symptoms__two {
  margin-left: -25%;
}
@media screen and (min-width: 768px) {
  .symptoms__two {
    margin-left: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__two {
    margin-left: 40%;
    width: 100%;
  }
}
.symptoms__three {
  margin-left: -65%;
}
@media screen and (min-width: 768px) {
  .symptoms__three {
    margin-left: -25%;
  }
}
@media screen and (min-width: 1200px) {
  .symptoms__three {
    margin-left: -15%;
    width: 100%;
  }
}
.symptoms__five {
  margin-left: 25%;
}
@media screen and (min-width: 1200px) {
  .symptoms__five {
    margin-left: 15%;
  }
}
.symptoms__six {
  margin-left: 160px;
}

.virus_img {
  width: 40px;
  position: absolute;
}

.feedback {
  text-align: center;
  padding: 10px;
}
.feedback__title {
  color: #17c2ec;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .feedback__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__title {
    font-size: 24px;
  }
}
.feedback__main-title {
  color: #000;
  font-size: 24px;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .feedback__main-title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__main-title {
    font-size: 48px;
  }
}
.feedback__info {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .feedback__info {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__info {
    font-size: 24px;
  }
}
.feedback__cardlist {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .feedback__cardlist {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.feedback__card {
  border-radius: 13.55px;
  background: rgba(196, 196, 196, 0.5);
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .feedback__card {
    margin: 0 auto;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__card {
    max-width: 80%;
  }
}
.feedback__card--info {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13.725px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .feedback__card--info {
    font-size: 18px;
  }
}
.feedback__card:hover {
  border-radius: 15.28px;
  background: #17c2ec;
}
.feedback__card:hover .feedback__patientDetail--title,
.feedback__card:hover .feedback__patientDetail--address,
.feedback__card:hover .feedback__card--info,
.feedback__card:hover .text-primary {
  color: #ffffff;
}
.feedback__patientDetail {
  display: flex;
  align-items: center;
  gap: 0 16px;
  text-align: left;
  margin-bottom: 35px;
}
.feedback__patientDetail--title {
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .feedback__patientDetail--title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback__patientDetail--title {
    font-size: 24px;
  }
}
.feedback__patientDetail--address {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .feedback__patientDetail--address {
    font-size: 14px;
  }
}

.text-primary {
  color: #17c2ec;
}

.cardImg {
  background-image: url("../assets/image/card-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: 50% 90%;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .cardImg {
    margin: 0 auto;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .cardImg {
    padding: 50px 0;
    background-size: 50% 100%;
  }
}

.quote-wrapper {
  position: absolute;
  top: -30%;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.15);
  padding: 30px 15px;
  margin: 0 auto;
  width: 80%;
  left: 8%;
}
@media screen and (min-width: 768px) {
  .quote-wrapper {
    left: 5%;
    top: -33%;
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .quote-wrapper {
    left: 13%;
    width: 70%;
  }
}

.quote {
  border-radius: 10px;
  background: #17c2ec;
  padding: 15px 25px 28px 23px;
  text-align: center;
}
.quote__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .quote__title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .quote__title {
    font-size: 48px;
  }
}
.quote__info {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .quote__info {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .quote__info {
    font-size: 24px;
  }
}
.quote__emailSection {
  display: flex;
  align-items: center;
}
.quote__email {
  border-radius: 20px 0px 0px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  border: none;
  width: 80%;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .quote__email {
    height: 75px;
  }
}
.quote__icon {
  color: #ffffff;
  width: 15%;
  padding: 13px;
  border-radius: 0px 20px 20px 0px;
  background: #0b153c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .quote__icon {
    padding: 31px;
  }
}

.quote__emailSection ::placeholder {
  color: rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  font-size: 10px;
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .quote__emailSection ::placeholder {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .quote__emailSection ::placeholder {
    font-size: 20px;
  }
}

.footer {
  padding: 0px 40px 30px 35px;
  margin-top: 120px;
  position: relative;
  padding-top: 140px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 220px;
  }
}
.footer__nav {
  display: block;
  padding: 20px 0px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    justify-content: left;
    gap: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__bottom {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.socialLinks__img {
  width: 18px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .socialLinks__img {
    width: 31px;
  }
}
@media screen and (min-width: 1200px) {
  .socialLinks__img {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
