.feedback {
  text-align: center;
  padding: 10px;
  &__title {
    color: #17c2ec;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
      font-size: 20px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
  }
  &__main-title {
    color: $extra-black;
    font-size: 24px;
    font-weight: 800;
    @media screen and (min-width: $tablet) {
      font-size: 36px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 48px;
    }
  }
  &__info {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 500;
    width: 80%;
    margin: 0 auto;
    @media screen and (min-width: $tablet) {
      font-size: 18px;
    }
    @media screen and (min-width: $desktop) {
      font-size: 24px;
    }
  }
  &__cardlist {
    margin-bottom: 20px;
    @media screen and (min-width: $desktop) {
      margin: 0 auto;
      //   max-width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }
  &__card {
    border-radius: 13.55px;
    background: rgba(196, 196, 196, 0.5);
    padding-bottom: 20px;
    @media screen and (min-width: $tablet) {
      margin: 0 auto;
      max-width: 100%;
    }
    @media screen and (min-width: $desktop) {
      max-width: 80%;
    }
    &--info {
      color: rgba(0, 0, 0, 0.6);
      font-size: 13.725px;
      font-weight: 500;
      @media screen and (min-width: $tablet) {
        font-size: 18px;
      }
    }
  }
  &__card:hover {
    border-radius: 15.28px;
    background: #17c2ec;
    .feedback__patientDetail--title,
    .feedback__patientDetail--address,
    .feedback__card--info,
    .text-primary {
      color: $white;
    }
  }

  &__patientDetail {
    display: flex;
    align-items: center;
    gap: 0 16px;
    text-align: left;
    margin-bottom: 35px;
    &--title {
      color: $extra-black;
      font-size: 15px;
      font-weight: 700;
      @media screen and (min-width: $tablet) {
        font-size: 20px;
      }
      @media screen and (min-width: $desktop) {
        font-size: 24px;
      }
    }
    &--address {
      color: rgba(0, 0, 0, 0.5);
      font-size: 11px;
      font-weight: 700;
      @media screen and (min-width: $tablet) {
        font-size: 14px;
      }
    }
  }
}

.text-primary {
  color: $primary-color;
}

.cardImg {
  background-image: url("../assets/image/card-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: 50% 90%;
  padding-top: 30px;
  @media screen and (min-width: $tablet) {
    margin: 0 auto;
    max-width: 50%;
  }
  @media screen and (min-width: $desktop) {
    padding: 50px 0;
    background-size: 50% 100%;
  }
}
