.btn {
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  //   default button is medium sized
  padding: 16px 32px;
  //   small sized button
  &.small {
    padding: 12px 24px;
    line-height: 20px;
  }
  &.medium {
    width: 221px;
    font-size: 18px;
    font-weight: 500;
    @media screen and (min-width: $tablet) {
      max-width: 221px;
    }
  }
  &__transparent {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    color: $white;
  }
}
